<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site_title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  {{> header}}
  {{> nav}}

  <table width="100%" cellpadding="8" cellspacing="0" border="0">
    <tr>
      {{#if show_sidebar}}
      <td width="75%" valign="top" class="main-content">
        {{{content}}}
      </td>
      <td width="25%" valign="top" class="sidebar">
        {{> sidebar}}
      </td>
      {{else}}
      <td valign="top" class="main-content">
        {{{content}}}
      </td>
      {{/if}}
    </tr>
  </table>

  {{> footer}}

</body>
</html>
